<div class="container-fluid">
  <ng-container *ngIf="categoryList$ | async as category">
    <app-house-control-panel [category]="category"></app-house-control-panel>
  </ng-container>
  <ng-container *ngIf="houseList$ | async as house">
    <!-- first child get value from parent -->
    <app-house-card [house]="house"></app-house-card>
    <!-- second child with custom pipe -->
    <app-house-carousel [house]="house"></app-house-carousel>
  </ng-container>
  <app-modal-update></app-modal-update>
</div>
