<div class="container-fluid">
  <ng-container *ngIf="categoryList$ | async as category">
    <app-house-control-panel [category]="category"></app-house-control-panel>
  </ng-container>
  <!-- first child get value from parent -->
  <ng-container *ngIf="houseList$ | async as house">
    <app-house-card [house]="house"></app-house-card>
  </ng-container>
  <!-- second child but get value from store instead -->
  <app-house-carousel></app-house-carousel>
  <app-modal-update></app-modal-update>
</div>

