<nav class="navbar nav-tabs d-flex bg-dark p-0 shadow">
  <h2 class="text-light m-0">Angular Demo</h2>
  <div class="nav flex-row">
    <a
      class="text-sm-center nav-link"
      [routerLink]="['/home']"
      routerLinkActive="active"
      >Home</a
    >
    <a
      class="text-sm-center nav-link"
      [routerLink]="['/houses']"
      routerLinkActive="active"
      >House</a
    >
    <a
      class="text-sm-center nav-link"
      [routerLink]="['/posts']"
      routerLinkActive="active"
      >Posts</a
    >
  </div>
</nav>
