<div class="container-fluid mt-5">
  <h2>Card View ({{ house.length }})</h2>
  <div class="row justify-content-evenly align-content-center">
    <div
      class="card mt-5 rounded-3 border-5 shadow-lg"
      style="width: 18rem"
      *ngFor="let item of house"
      appThemeModify
      inputType="card"
    >
      <img
        src="{{ item.imgUrl }}"
        class="card-img-top img-fluid h-100 w-100"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.message }}</h5>
        <p class="card-text">Price: {{ item.price }} Tỷ</p>
        <div class="btn-group shadow-lg">
          <button class="btn btn-primary" (click)="selectHouse(item)">
            Detail
          </button>
          <button class="btn btn-primary" (click)="deleteHouse(item)">
            Delete
          </button>
          <button class="btn btn-primary" (click)="updateHouse(item)">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
