<div class="container-fluid row">
  <div class="col">
    <form
      class="container-fluid"
      [formGroup]="themeForm"
      (ngSubmit)="onSubmit()"
    >
      <h2 class="text-center">Theme Picker</h2>
      <div class="form-group">
        <label for="textColor">Text Color:</label>
        <input
          type="color"
          class="form-control"
          id="textColor"
          formControlName="textColor"
        />
      </div>
      <div class="form-group">
        <label for="backgroundColor">Background Color:</label>
        <input
          type="color"
          class="form-control"
          id="backgroundColor"
          formControlName="backgroundColor"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary w-100 rounded-3 shadow-lg my-3"
      >
        Submit
      </button>
      <button
        type="button"
        class="btn btn-primary w-100 rounded-3 shadow-lg"
        (click)="resetField()"
      >
        Reset
      </button>
    </form>
  </div>
</div>
