<div class="container-fluid row mt-3">
  <div
    class=" justify-content-center h-auto bg-transparent
      list-group
      p-0
      col-2
      shadow-lg
      d-flex
      flex-column
      align-items-center
    "
  >
    <a
      class="list-group-item list-group-item-action text-md-center border-0"
      (click)="scrollTo('menu')"
      [ngClass]="{ 'bg-primary text-light': currentSection === 'menu' }"
      >Menu</a
    >
    <a
      class="list-group-item list-group-item-action text-md-center border-0"
      (click)="scrollTo('card')"
      [ngClass]="{ 'bg-primary text-light': currentSection === 'card' }"
      >Card</a
    >
    <a
      class="list-group-item list-group-item-action text-md-center border-0"
      (click)="scrollTo('typography')"
      [ngClass]="{ 'bg-primary text-light': currentSection === 'typography' }"
      >Typography</a
    >
    <a
      class="list-group-item list-group-item-action text-md-center border-0"
      (click)="scrollTo('animation')"
      [ngClass]="{ 'bg-primary text-light': currentSection === 'animation' }"
      >Animation</a
    >
  </div>
  <div
    id="parentDiv"
    appScrollSpy
    [spiedTags]="['DIV']"
    (sectionChange)="onSectionChange($event)"
    class="col"
    style="height: 600px; overflow-y: scroll"
  >
    <div class="row mb-5" id="menu">
      <div class="col-4">
        <form
          class="container-fluid"
          [formGroup]="menuThemeForm"
          (ngSubmit)="onSubmit()"
        >
          <h2 class="text-center">Menu Theme Picker</h2>
          <div class="form-group">
            <label for="textColor">Text Color:</label>
            <input
              type="color"
              class="form-control"
              id="textColor"
              formControlName="textColor"
            />
          </div>
          <div class="form-group">
            <label for="backgroundColor">Background Color:</label>
            <input
              type="color"
              class="form-control"
              id="backgroundColor"
              formControlName="backgroundColor"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100 rounded-3 shadow-lg my-3"
          >
            Submit
          </button>
          <button
            type="button"
            class="btn btn-primary w-100 rounded-3 shadow-lg"
            (click)="resetField()"
          >
            Reset
          </button>
        </form>
      </div>
      <div class="col">
        <div
          class="col d-flex flex-column align-items-center justify-items-center"
        >
          <h2>Preview</h2>
          <nav
            class="navbar nav-tabs d-flex p-0 shadow-lg border-0 p-0"
            style="
              background-color: rgba(83, 110, 182, 0.39);
              color: white;
              height: 50px;
            "
            appThemeModify
            inputType="menu"
          >
            <h2 class="m-0 px-3">Angular Demo</h2>
            <div class="nav flex-row">
              <a class="text-sm-center nav-link"
                >Home
                <fa-icon [icon]="faHome"></fa-icon>
              </a>
              <a class="text-sm-center nav-link"
                >House
                <fa-icon [icon]="faHouse"></fa-icon>
              </a>
              <a class="text-sm-center nav-link"
                >Theme
                <fa-icon [icon]="faShapes"></fa-icon>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="row mb-5" id="card">
      <div class="col-4">
        <form
          class="container-fluid"
          [formGroup]="cardThemeForm"
          (ngSubmit)="onCardSubmit()"
        >
          <h2 class="text-center">Card Theme Picker</h2>
          <div class="form-group">
            <label for="cardTextColor">Text Color:</label>
            <input
              type="color"
              class="form-control"
              id="cardTextColor"
              formControlName="textColor"
            />
          </div>
          <div class="form-group">
            <label for="cardBackgroundColor">Background Color:</label>
            <input
              type="color"
              class="form-control"
              id="cardBackgroundColor"
              formControlName="backgroundColor"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100 rounded-3 shadow-lg my-3"
          >
            Submit
          </button>
          <button
            type="button"
            class="btn btn-primary w-100 rounded-3 shadow-lg"
            (click)="resetCardField()"
          >
            Reset
          </button>
        </form>
      </div>
      <div class="col">
        <div
          class="col d-flex flex-column align-items-center justify-items-center"
        >
          <h2>Preview</h2>
          <div
            class="card mt-2 rounded-3 border-5 shadow-lg"
            style="width: 18rem"
            appThemeModify
            inputType="card"
          >
            <div class="card-body">
              <h5 class="card-title">Sample Card</h5>
              <p class="card-text">...Property: ...value</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5" id="typography">
      <div class="col-4">
        <form
          class="container-fluid"
          [formGroup]="typographyThemeForm"
          (ngSubmit)="onTypoSubmit()"
        >
          <h2 class="text-center">Typography Format</h2>
          <div class="form-group">
            <label for="fontSize"
              >Font Size:{{ typographyThemeForm.value.fontSize }}</label
            >
            <input
              type="range"
              min="10"
              max="22"
              class="form-control form-range"
              id="fontSize"
              formControlName="fontSize"
            />
          </div>
          <div class="form-group">
            <label for="letterSpacing"
              >Letter Spacing:{{
                typographyThemeForm.value.letterSpacing
              }}</label
            >
            <input
              type="range"
              min="1"
              max="10"
              step="0.1"
              class="form-control form-range"
              id="letterSpacing"
              formControlName="letterSpacing"
            />
          </div>
          <div class="form-group">
            <label for="fontFamily">Font Family:</label>
            <select
              id="fontFamily"
              class="form-select"
              formControlName="fontFamily"
            >
              <option value="monospace">Monospace</option>
              <option value="Aria">Aria</option>
              <option value="nova_light">Nova Light</option>
              <option value="snail">Snail</option>
              <option value="birth_of_a_hero">Birth Of A Hero</option>
              <option value="ericsson">Ericsson Capital</option>
            </select>
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100 rounded-3 shadow-lg my-3"
          >
            Submit
          </button>
          <button
            type="button"
            class="btn btn-primary w-100 rounded-3 shadow-lg"
            (click)="resetTypoField()"
          >
            Reset
          </button>
        </form>
      </div>
      <div class="col">
        <div
          class="col d-flex flex-column align-items-center justify-items-center"
        >
          <h2>Preview</h2>
          <div
            class="card mt-2 rounded-3 border-5 shadow-lg"
            style="width: 18rem"
            appThemeModify
            inputType="typo"
          >
            <div class="card-body">
              <h5 class="card-title">Sample Card</h5>
              <p class="card-text">...Property: ...value</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="animation">
      <div class="col-4">
        <form
          class="container-fluid"
          [formGroup]="animationThemeForm"
          (ngSubmit)="onAnimationSubmit()"
        >
          <h2 class="text-center">Animation Settings</h2>
          <div class="form-group">
            <label for="hoverTextColor">Hover Text Color:</label>
            <input
              type="color"
              class="form-control"
              id="hoverTextColor"
              formControlName="hoverTextColor"
            />
          </div>
          <div class="form-group">
            <label for="hoverBackgroundColor">Hover Background Color:</label>
            <input
              type="color"
              class="form-control"
              id="hoverBackgroundColor"
              formControlName="hoverBackgroundColor"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100 rounded-3 shadow-lg my-3"
          >
            Submit
          </button>
          <button
            type="button"
            class="btn btn-primary w-100 rounded-3 shadow-lg"
            (click)="resetAnimationField()"
          >
            Reset
          </button>
        </form>
      </div>
      <div class="col">
        <div
          class="col d-flex flex-column align-items-center justify-items-center"
        >
          <h2>Preview</h2>
          <nav
            class="navbar nav-tabs d-flex p-0 shadow-lg border-0 p-0"
            style="
              background-color: rgba(83, 110, 182, 0.39);
              color: white;
              height: 50px;
            "
            appThemeModify
            inputType="animation"
          >
            <h2 class="m-0 px-3">Angular Demo</h2>
            <div class="nav flex-row">
              <a class="text-sm-center nav-link"
                >Home
                <fa-icon [icon]="faHome"></fa-icon>
              </a>
              <a class="text-sm-center nav-link"
                >House
                <fa-icon [icon]="faHouse"></fa-icon>
              </a>
              <a class="text-sm-center nav-link"
                >Theme
                <fa-icon [icon]="faShapes"></fa-icon>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="block" style="height: 410px"></div>
  </div>
</div>
