<div
  class="accordion accordion-flush shadow-lg mt-3"
  id="accordionFlushExample"
>
  <h2 class="ps-3 pt-3">Control Panel</h2>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne"
        aria-expanded="false"
        aria-controls="flush-collapseOne"
      >
        Filter Item
      </button>
    </h2>
    <div
      id="flush-collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample"
    >
      <form
        class="
          accordion-body
          d-flex
          flex-column
          justify-content-evenly
          align-content-center
        "
        [formGroup]="filterForm"
        (ngSubmit)="onSubmit()"
      >
        <h4>Filter: Area</h4>
        <!-- todo: set max range dynamically -->

        <div class="form-check form-switch">
          <label class="form-check-label" for="gt1000"
            >Area Greater Than: {{ filterForm.value.gtArea }}
          </label>
          <input
            class="form-range"
            type="range"
            id="gt1000"
            min="0"
            max="10000"
            step="10"
            formControlName="gtArea"
          />
        </div>
        <h4>Filter: Front</h4>

        <div class="form-check form-switch">
          <label class="form-check-label" for="f_gt1000"
            >Front Greater Than {{ filterForm.value.gtFront }}</label
          >
          <input
            class="form-range"
            type="range"
            id="f_gt1000"
            min="0"
            max="10000"
            step="10"
            formControlName="gtFront"
          />
        </div>
        <h4>Filter: Category</h4>
        <select
          class="form-select form-select-sm"
          aria-label="Default select example"
          formControlName="category"
        >
          <option
            selected
            *ngFor="let item of category; index as i"
            value="{{ item.name }}"
          >
            {{ item.name }}
          </option>
        </select>
        <button
          type="submit"
          class="btn btn-primary w-100 rounded-3 shadow-lg my-3"
          appThemeModify inputType="animation"
        >
          Submit
        </button>
        <button
          type="button"
          class="btn btn-primary shadow-lg rounded-3 my-3"
          (click)="onReset()"
          appThemeModify inputType="animation"
        >
          Reset Filter
        </button>
      </form>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo"
        aria-expanded="false"
        aria-controls="flush-collapseTwo"
      >
        Search Item
      </button>
    </h2>
    <div
      id="flush-collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample"
    >
      <form
        class="
          accordion-body
          d-flex
          flex-column
          justify-content-evenly
          align-content-center
        "
        [formGroup]="searchForm"
        (ngSubmit)="onSubmit()"
      >
        <h4>Search: Message</h4>
        <div class="input-group">
          <div class="input-group-append">
            <button class="btn btn-secondary disabled" disabled type="button">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </div>
          <input
            type="text"
            class="form-control"
            formControlName="searchMessage"
            placeholder="Search house with message"
          />
        </div>
        <button
          type="button"
          class="btn btn-primary shadow-lg rounded-3 my-3"
          (click)="onReset()"
          appThemeModify inputType="animation"
        >
          Reset Filter
        </button>
      </form>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree"
        aria-expanded="false"
        aria-controls="flush-collapseThree"
      >
        Modify Item
      </button>
    </h2>
    <div
      id="flush-collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingThree"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body row justify-content-between align-items-start">
        <div class="btn-group-vertical col-1">
          <button
            type="button"
            class="btn btn-primary shadow mt-3"
            (click)="showHouseForm()"
            appThemeModify inputType="animation"
          >
            House
          </button>
          <button
            type="button"
            class="btn btn-primary shadow mt-3"
            (click)="showCategoryForm()"
            appThemeModify inputType="animation"
          >
            Category
          </button>
        </div>
        <div class="col">
          <app-house-form
            *ngIf="isHouseFormShow"
            [category]="category"
          ></app-house-form>
          <app-category-form *ngIf="isCategoryFormShow"></app-category-form>
        </div>
      </div>
    </div>
  </div>
</div>
