<div class="container-fluid d-flex pb-5">
  <ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
    <li ngbNavItem="house">
      <a ngbNavLink appThemeModify inputType="animation">House</a>
      <ng-template ngbNavContent>
        <app-edit-house></app-edit-house>
      </ng-template>
    </li>
    <li ngbNavItem="category">
      <a ngbNavLink appThemeModify inputType="animation">Category</a>
      <ng-template ngbNavContent>
        <div style="min-height: 78vh">CATEGORY MENU</div>
      </ng-template>
    </li>
    <li ngbNavItem="user">
      <a ngbNavLink appThemeModify inputType="animation">User</a>
      <ng-template ngbNavContent>
        <div style="min-height: 78vh">USER MENU</div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-4 h-100 w-100"></div>
  <app-modal-update></app-modal-update>
</div>
