<div class="container-fluid d-flex pb-5">
  <ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
    <li ngbNavItem="house">
      <a ngbNavLink appThemeModify inputType="animation">House</a>
      <ng-template ngbNavContent>
        <form
          class="input-group"
          (ngSubmit)="onSubmit()"
          [formGroup]="searchForm"
        >
          <button
            class="btn btn-outline-secondary shadow-lg"
            type="button"
            disabled
          >
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
          <input
            type="text"
            class="form-control"
            formControlName="searchMessage"
            placeholder="Search house message"
            aria-label="Search house message"
            aria-describedby="button-addon4"
          />
          <div class="input-group-append" id="button-addon4">
            <button
              class="btn btn-outline-secondary shadow-lg"
              type="button"
              (click)="collapse.toggle()"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample"
            >
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </div>
        </form>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <ng-container *ngIf="categoryList$ | async as category">
            <app-house-form [category]="category"></app-house-form>
          </ng-container>
        </div>
        <ng-container *ngIf="houseList as house">
          <table
            class="table table-striped"
            appThemeModify
            inputType="menu"
            style="min-height: 78vh"
          >
            <thead>
              <tr>
                <th scope="col">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="cboxAll"
                  />
                </th>
                <th scope="col" sortable="id" (sort)="onSort($event)">ID</th>
                <th scope="col" sortable="message" (sort)="onSort($event)">
                  Message
                </th>
                <th scope="col" sortable="category" (sort)="onSort($event)">
                  Category
                </th>
                <th scope="col">Image</th>
                <th scope="col" sortable="price" (sort)="onSort($event)">
                  Price
                </th>
                <th scope="col" sortable="area" (sort)="onSort($event)">
                  Area
                </th>
                <th scope="col" sortable="front" (sort)="onSort($event)">
                  Front
                </th>
                <th scope="col" sortable="address" (sort)="onSort($event)">
                  Address
                </th>
                <th scope="col" sortable="lat" (sort)="onSort($event)">Lat</th>
                <th scope="col" sortable="lng" (sort)="onSort($event)">Lng</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of house
                    | slice: (page - 1) * pageSize:page * pageSize;
                  index as i
                "
              >
                <td>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="cbox{{ i }}"
                  />
                </td>
                <td>{{ item.id }}</td>
                <td>{{ item.message }}</td>
                <td>{{ item.category }}</td>
                <td>
                  <img
                    src="{{ item.imgUrl }}"
                    alt=""
                    style="height: 50px; width: 50px"
                  />
                </td>
                <td>{{ item.price | number: "1.2-2" }}</td>
                <td>{{ item.area | number: "1.2-2" }}</td>
                <td>{{ item.front | number: "1.2-2" }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.lat | number: "1.2-2" }}</td>
                <td>{{ item.lng | number: "1.2-2" }}</td>
                <td>
                  <button
                    class="btn btn-secondary shadow-lg"
                    (click)="updateHouse(item)"
                  >
                    <fa-icon [icon]="faEdit"></fa-icon>
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-secondary shadow-lg"
                    (click)="deleteHouse(item)"
                  >
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex w-100 justify-content-end mt-3">
            <ngb-pagination
              [(page)]="page"
              [pageSize]="pageSize"
              [collectionSize]="house.length"
            ></ngb-pagination>
          </div>
        </ng-container>
      </ng-template>
    </li>
    <li ngbNavItem="category">
      <a ngbNavLink appThemeModify inputType="animation">Category</a>
      <ng-template ngbNavContent>
        <div style="min-height: 78vh">CATEGORY MENU</div>
      </ng-template>
    </li>
    <li ngbNavItem="user">
      <a ngbNavLink appThemeModify inputType="animation">User</a>
      <ng-template ngbNavContent>
        <div style="min-height: 78vh">USER MENU</div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-4 h-100 w-100"></div>
  <app-modal-update></app-modal-update>
</div>
